<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="xarm">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import xarm urdf file -->
    <xacro:include filename="$(find xarm_description)/urdf/xarm.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="xarm.ros2_control.xacro" />


    <xacro:xarm_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
